<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flutter_chat_ui_kit_example.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D5CE0BFD4A01DF4753B2B67A65D4B9BB772B593B</string>
				<key>dateExpires</key>
				<string>31/03/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5CE0BFD4A01DF4753B2B67A65D4B9BB772B593B</string>
						<key>dateExpires</key>
						<string>31/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K456T8RD7Z</string>
						<key>name</key>
						<string>INSCRIPTS (I) PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5CE0BFD4A01DF4753B2B67A65D4B9BB772B593B</string>
						<key>dateExpires</key>
						<string>31/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CometChatPro.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K456T8RD7Z</string>
						<key>name</key>
						<string>INSCRIPTS (I) PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.911-beta3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5CE0BFD4A01DF4753B2B67A65D4B9BB772B593B</string>
						<key>dateExpires</key>
						<string>31/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CometChatStarscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K456T8RD7Z</string>
						<key>name</key>
						<string>INSCRIPTS (I) PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5CE0BFD4A01DF4753B2B67A65D4B9BB772B593B</string>
						<key>dateExpires</key>
						<string>31/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K456T8RD7Z</string>
						<key>name</key>
						<string>INSCRIPTS (I) PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5CE0BFD4A01DF4753B2B67A65D4B9BB772B593B</string>
						<key>dateExpires</key>
						<string>31/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>cometchat.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K456T8RD7Z</string>
						<key>name</key>
						<string>INSCRIPTS (I) PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5CE0BFD4A01DF4753B2B67A65D4B9BB772B593B</string>
						<key>dateExpires</key>
						<string>31/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_chat_ui_kit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K456T8RD7Z</string>
						<key>name</key>
						<string>INSCRIPTS (I) PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5CE0BFD4A01DF4753B2B67A65D4B9BB772B593B</string>
						<key>dateExpires</key>
						<string>31/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K456T8RD7Z</string>
						<key>name</key>
						<string>INSCRIPTS (I) PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5CE0BFD4A01DF4753B2B67A65D4B9BB772B593B</string>
						<key>dateExpires</key>
						<string>31/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K456T8RD7Z</string>
						<key>name</key>
						<string>INSCRIPTS (I) PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5CE0BFD4A01DF4753B2B67A65D4B9BB772B593B</string>
						<key>dateExpires</key>
						<string>31/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K456T8RD7Z</string>
						<key>name</key>
						<string>INSCRIPTS (I) PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5CE0BFD4A01DF4753B2B67A65D4B9BB772B593B</string>
						<key>dateExpires</key>
						<string>31/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K456T8RD7Z</string>
						<key>name</key>
						<string>INSCRIPTS (I) PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5CE0BFD4A01DF4753B2B67A65D4B9BB772B593B</string>
						<key>dateExpires</key>
						<string>31/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K456T8RD7Z</string>
						<key>name</key>
						<string>INSCRIPTS (I) PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5CE0BFD4A01DF4753B2B67A65D4B9BB772B593B</string>
						<key>dateExpires</key>
						<string>31/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K456T8RD7Z</string>
						<key>name</key>
						<string>INSCRIPTS (I) PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5CE0BFD4A01DF4753B2B67A65D4B9BB772B593B</string>
						<key>dateExpires</key>
						<string>31/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K456T8RD7Z</string>
						<key>name</key>
						<string>INSCRIPTS (I) PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>K456T8RD7Z.com.cometchat.flutterChatUiKitExample</string>
				<key>com.apple.developer.team-identifier</key>
				<string>K456T8RD7Z</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>88b7934d-33f4-4b2e-b487-c9ec22cf4af7</string>
				<key>dateExpires</key>
				<string>14/12/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.cometchat.flutterChatUiKitExample</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>K456T8RD7Z</string>
				<key>name</key>
				<string>INSCRIPTS (I) PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
